# SQL Project
You were hired by Ironhack to perform an Analytics Consulting Project entitled: competitive landscape.

Your mission is to create and populate an appropriate database with many coding schools that are our competition, as well as design an suitable queries that answer business questions of interest (to be defined by you)

**Suggested Steps in the Project:**


*   Read this notebook and understand each function. Comment the code appropriately

*   Populate the list of schools with a wider variety of schools (how are you going to get the school ID?)

* Take a look at the obtained dataframes. What dimensions do you have? what keys do you have? how could the different dataframes be connected?

* Go back to the drawing board and try to create an entity relationship diagram for tables available

* Once you have the schemas you want, you will need to:
  - create the suitable SQL queries to create the tables and populate them
  - run these queries using the appropriate Python connectors
  
* Bonus: How will this datamodel be updated in the future? Please write auxiliary functions that test the database for data quality issues. For example: how could you make sure you only include the most recent comments when you re-run the script?


# Suggested Deliverables

* 5-6 minute presentation of data model created, decision process and business analysis proposed

* exported .sql file with the final schema

* Supporting python files used to generate all logic

* High level documentation explaining tables designed and focusing on update methods

Crucial hint: check out the following tutorial:
https://www.dataquest.io/blog/sql-insert-tutorial/

In [26]:
# you must populate this dict with the schools required -> try talking to the teaching team about this


schools = {   
'ironhack' : 10828,
'la-capsule' : 10853,
'app-academy' : 10525,
'springboard' : 11035,
'metis' : 10886,
'practicum-by-yandex' : 11225,
'le-wagon' : 10868,
'academia-de-codigo' :10494 ,
'react-graphql-academy' : 10972
}

import re
import pandas as pd
from pandas.io.json import json_normalize
import requests



def get_comments_school(school):
    TAG_RE = re.compile(r'<[^>]+>')
    # defines url to make api call to data -> dynamic with school if you want to scrape competition
    url = "https://www.switchup.org/chimera/v1/school-review-list?mainTemplate=school-review-list&path=%2Fbootcamps%2F" + school + "&isDataTarget=false&page=3&perPage=10000&simpleHtml=true&truncationLength=250"
    #makes get request and converts answer to json
    # url defines the page of all the information, request is made, and information is returned to data variable
    data = requests.get(url).json()
    #converts json to dataframe
    reviews =  pd.DataFrame(data['content']['reviews'])
  
    #aux function to apply regex and remove tags
    def remove_tags(x):
        return TAG_RE.sub('',x)
    reviews['review_body'] = reviews['body'].apply(remove_tags)
    reviews['school'] = school
    return reviews

In [27]:
# could you write this as a list comprehension? ;)
# comments = []

# for school in schools.keys():
#    print(school)
#    comments.append(get_comments_school(school))
    
comments = [get_comments_school(key) for key in schools.keys()]

comments = pd.concat(comments)
comments.sample(50)

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,body,rawBody,...,queryDate,program,user,overallScore,comments,overall,curriculum,jobSupport,review_body,school
476,246332,Axel Dahlin,False,Software Engineering,2018.0,True,None,Amazing coding journey,"<span class=""truncatable""><p>The Ironhack boot...",The Ironhack bootcamp transformed me and my cl...,...,2019-01-07,Full-time Web Development Bootcamp,{'image': None},5.0,[],5.0,5.0,5.0,The Ironhack bootcamp transformed me and my cl...,ironhack
125,266749,Andrew Chen,False,Software Engineering,2020.0,False,,"A rigorous course but, ultimately, a great one.","<span class=""truncatable""><p>App Academy's cur...",App Academy's curriculum is well designed and ...,...,2020-07-24,Software Engineer Track: In-Person,{'image': None},4.7,[],5.0,4.0,5.0,App Academy's curriculum is well designed and ...,app-academy
951,233391,Anonymous,False,None,2016.0,True,None,Worth What You Put In,"<span class=""truncatable""><p>App Academy is di...",App Academy is difficult. Extremely difficult....,...,2017-01-23,Software Engineer Track: In-Person,{'image': None},5.0,[],5.0,5.0,5.0,App Academy is difficult. Extremely difficult....,app-academy
726,243120,Jeff,False,Software Engineering,2018.0,True,None,Great experience,"<p>Everything is made to succeed, surrounded b...","Everything is made to succeed, surrounded by a...",...,2018-03-16,Full-time Web Development Bootcamp,{'image': None},5.0,[],5.0,5.0,5.0,"Everything is made to succeed, surrounded by a...",ironhack
754,245839,Onyema Nwokolo,False,UX/UI Design,2018.0,True,None,Springboard UX Design Course,"<span class=""truncatable""><p>I really enjoyed ...",I really enjoyed the way Springboard structure...,...,2018-11-30,UX Design,{'image': None},3.7,[],4.0,3.0,4.0,I really enjoyed the way Springboard structure...,springboard
1,278202,Kora Feder,False,None,2021.0,False,,I learned a lot,"<span class=""truncatable""><p></p><p>I just gra...",<p>I just graduated. The best part of the prog...,...,2021-06-08,UI/UX Design Career Track,{'image': None},4.7,[],5.0,5.0,4.0,I just graduated. The best part of the program...,springboard
16,274707,Ahmed Eldemerdash,False,None,2021.0,True,,Above and Beyond,"<span class=""truncatable""><p></p><p>very great...",<p>very great course in web development .. goo...,...,2021-03-13,Web Developer,{'image': None},5.0,[],5.0,5.0,5.0,very great course in web development .. good r...,practicum-by-yandex
272,261637,Anonymous,True,Software Engineering,2020.0,True,None,Awesome Learning Experience,"<span class=""truncatable""><p>Pros: <br>- You r...",Pros: \r\n- You really are able to create a fu...,...,2020-02-04,Software Engineer Track: In-Person,{'image': None},5.0,[],5.0,5.0,5.0,Pros: - You really are able to create a fully ...,app-academy
267,261644,Anonymous,True,Software Engineering,2020.0,True,None,Overall pretty good experience,"<span class=""truncatable""><p>Before attending,...","Before attending, I had read reviews online th...",...,2020-02-04,Software Engineer Track: In-Person,{'image': None},4.0,[],4.0,4.0,4.0,"Before attending, I had read reviews online th...",app-academy
1129,246859,Richard van den Broek,False,Software Engineering,2018.0,True,Web developer,"Effective learning method, great overall expri...","<span class=""truncatable""><p>I started my care...",I started my career in the shipping industry (...,...,2019-02-16,FullStack program - 35+ locations,{'image': None},4.7,[],5.0,5.0,4.0,I started my career in the shipping industry (...,le-wagon
871,252226,Patricia Vila Luz,False,Software Engineering,2019.0,True,None,"If you want to be happy programming, choose Le...","<span class=""truncatable""><p>Before the bootca...","Before the bootcamp, I studied in a school tha...",...,2019-07-22,FullStack program - 35+ locations,{'image': None},5.0,[],5.0,5.0,5.0,"Before the bootcamp, I studied in a school tha...",le-wagon
574,244369,Benjamin Rothman,False,Software Engineering,2018.0,True,None,Superb Institution,"<span class=""truncatable""><p>I loved my time a...",I loved my time at App Academy because it prov...,...,2018-09-23,Software Engineer Track: In-Person,{'image': None},4.7,[],5.0,5.0,4.0,I loved my time at App Academy because it prov...,app-academy
485,233187,Jose Morales,False,Software Engineering,2018.0,True,Web Dev.,An experience that changes your life,<p>I am still amazing of all you can learn in ...,I am still amazing of all you can learn in onl...,...,2018-12-07,Full-time Web Development Bootcamp,{'image': None},5.0,[],5.0,5.0,5.0,I am still amazing of all you can learn in onl...,ironhack
1422,237540,arthur,False,Software Engineering,2018.0,True,co-founder,I recommend LeWagon to learn coding,"<span class=""truncatable""><p>My experience at ...",My experience at LeWagon was great in terms of...,...,2018-07-13,FullStack program - 35+ locations,{'image': None},4.7,[],5.0,5.0,4.0,My experience at LeWagon was great in terms of...,le-wagon
496,245562,Barbara,False,Software Engineering,2018.0,True,None,A great experience that will change your life,"<span class=""truncatable""><p>There are a lot o...",There are a lot of pros to attending this boot...,...,2018-11-06,Full-time Web Development Bootcamp,{'image': None},5.0,[],5.0,5.0,5.0,There are a lot of pros to attending this boot...,ironhack
524,257864,Yingxi Long,False,UX/UI Design,2019.0,False,None,Wonderful course to UXUI world,"<span class=""truncatable""><p></p><p>Springboar...",<p>Springboard UX design is a thothought and c...,...,2019-10-19,,{'image': None},4.7,[],5.0,5.0,4.0,Springboard UX design is a thothought and comp...,springboard
128,273010,Devon Chey,False,None,2020.0,False,Product Designer,Excellent Experience,"<span class=""truncatable""><p></p><p>I had an a...",<p>I had an amazing experience with Springboar...,...,2021-01-28,UI/UX Design Career Track,{'image': None},5.0,[],5.0,5.0,5.0,I had an amazing experience with Springboard! ...,springboard
110,273597,Emily Paul,False,None,2021.0,False,Product Designer,Believe the hype,"<span class=""truncatable""><p></p><p>My experie...",<p>My experience with Springboard has been tre...,...,2021-02-12,UX Career Track,{'image': None},5.0,[],5.0,5.0,5.0,My experience with Springboard has been tremen...,springboard
111,267184,Antonio P,False,Software Engineering,2020.0,False,Project Manager,The project based learning was a real plus,"<span class=""truncatable""><p></p><p>As a proje...","<p>As a project manager in a start up, I wante...",...,2020-08-05,,{'image': None},5.0,[],5.0,5.0,5.0,"As a project manager in a start up, I wanted t...",la-capsule
1369,239336,Edmond,False,Software Engineering,2018.0,True,Full-Stack Developer,Le Wagon Tokyo batch#147,"<span class=""truncatable""><p>I have been livin...",I have been living in Japan for 5 years workin...,...,2018-08-16,FullStack program - 35+ locations,{'image': None},5.0,[],5.0,5.0,5.0,I have been living in Japan for 5 years workin...,le-wagon
864,242894,Elsa Rasmus,False,UX/UI Design,2017.0,True,None,Springboard,<p>I thoroughly enjoyed the Springboard UX cla...,I thoroughly enjoyed the Springboard UX class!...,...,2018-03-12,UX Design,{'image': None},5.0,[],5.0,5.0,5.0,I thoroughly enjoyed the Springboard UX class!...,springboard
62,269103,Manon Morgaut,False,None,2020.0,False,,Intensive but definitely worth it,"<span class=""truncatable""><p>I decided to foll...",I decided to follow Ironhack's program in the ...,...,2020-10-05,Web Development Bootcamp,{'image': None},5.0,[],5.0,5.0,NaN,I decided to follow Ironhack's program in the ...,ironhack
1153,246230,Alexandre Schmitz,False,Software Engineering,2018.0,True,"CXO and Co-Founder at Cerbo, Inc.",Life changing experience,"<span class=""truncatable""><p>As UX designer wh...",As UX designer who owns a startup in online ed...,...,2019-01-17,FullStack program - 35+ locations,{'image': None},5.0,[],5.0,5.0,5.0,As UX designer who owns a startup in online ed...,le-wagon
117,266944,Charles R,False,Software Engineering,2020.0,False,,I highly recommend this program !,"<span class=""truncatable""><p>When I graduated ...",When I graduated from my bachelor's degree in ...,...,2020-07-30,,{'image': None},5.0,[],5.0,5.0,5.0,When I graduated from my bachelor's degree in ...,la-capsule
16,276085,Stewart,False,None,2021.0,False,,App Academy Experience,"<span class=""truncatable""><p></p><p>App Academ...",<p>App Academy is one of the best bootcamp out...,...,2021-04-19,Software Engineer Track: In-Person,{'image': None},5.0,[],5.0,5.0,5.0,App Academy is one of the best bootcamp out he...,app-academy
345,258027,Rafael Bueno Rodrigues,False,Software Engineering,2019.0,True,None,Be prepared to the market,"<span class=""truncatable""><p>They make you be ...",They make you be prepared for the market. Thei...,...,2019-10-23,Part-time Web Development,{'image': None},5.0,[],5.0,5.0,5.0,They make you be prepared for the market. Thei...,ironhack
541,261747,Ginevra Fontes Williams,False,None,2019.0,False,,Eye-opening experience and huge investment for...,"<span class=""truncatable""><p></p><p>I used to ...",<p>I used to work in an advertising agency as ...,...,2020-02-07,,{'image': None},5.0,[],5.0,5.0,5.0,I used to work in an advertising agency as a J...,le-wagon
609,244149,Alejandro E. Marquez,False,Software Engineering,2018.0,True,Software Dev,Worthwhile.,"<span class=""truncatable""><p>You get what you ...",You get what you put in. You have to study sup...,...,2018-07-23,Software Engineer Track: In-Person,{'image': None},5.0,[],5.0,5.0,5.0,You get what you put in. You have to study sup...,app-academy
357,265498,Anonymous,True,Software Engineering,2019.0,False,,"Change your life, learn to code",<p>I Joined Le Wagon in october in Batch #321 ...,I Joined Le Wagon in october in Batch #321 and...,...,2020-06-15,Web Development Course - Full-Time,{'image': None},5.0,[],5.0,5.0,5.0,I Joined Le Wagon in october in Batch #321 and...,le-wagon
7,276315,Elizaveta Gorbunova,False,None,2021.0,False,Data Analyst,Great and comprehensive program,"<span class=""truncatable""><p></p><p>I've enjoy...",<p>I&#39;ve enjoyed my time at Yandex practicu...,...,2021-04-23,Data Analyst,{'image': None},5.0,[],5.0,5.0,5.0,I've enjoyed my time at Yandex practicum. The ...,practicum-by-yandex
36,256073,David Ferreira,False,Software Engineering,2019.0,True,None,Amazing Bootcamp,<p>The bootcamp was an experience that prepare...,The <Academia de Código_> bootcamp was an expe...,...,2019-10-04,None,{'image': None},5.0,[],5.0,5.0,5.0,The bootcamp was an experience that prepared m...,academia-de-codigo
1297,243566,Alexandre-Olivier Nycz,False,Software Engineering,2018.0,True,None,Change what YOU WORTH!,"<span class=""truncatable""><p>When I was younge...","When I was younger, I wanted to learn how to c...",...,2018-10-01,FullStack program - 35+ locations,{'image': None},5.0,[],5.0,5.0,5.0,"When I was younger, I wanted to learn how to c...",le-wagon
781,240988,Ian Izaguirre,False,None,2017.0,True,None,Just Do It,"<span class=""truncatable""><p>Before joining Ir...","Before joining Ironhack, I was apprehensive at...",...,2017-12-21,Full-time Web Development Bootcamp,{'image': None},5.0,[],5.0,5.0,5.0,"Before joining Ironhack, I was apprehensive at...",ironhack
1789,240307,Jackson Graziano,False,None,2017.0,True,Co-founder,"Change your life, learn to code","<span class=""truncatable""><p>I attended Batch ...",I attended Batch #64 in São Paulo.\r\n\r\nThe ...,...,2017-07-12,FullStack program - 35+ locations,{'image': None},5.0,[],5.0,5.0,5.0,"I attended Batch #64 in São Paulo.The ""change ...",le-wagon
554,254462,Kip Ladd,False,Digital Marketing,2019.0,True,None,Good Way to get real-world experience in the l...,"<span class=""truncatable""><p>I started out on ...",I started out on the Digital Marketing Career ...,...,2019-09-11,None,{'image': None},5.0,[],5.0,5.0,5.0,I started out on the Digital Marketing Career ...,springboard
54,275286,Ruben Rubilar,False,None,2021.0,False,,Best decision in my life,"<span class=""truncatable""><p></p><p>If you are...","<p>If you are looking for a bootcamp in Tokyo,...",...,2021-03-30,Web Development Course - Full-Time,{'image': None},5.0,[],5.0,5.0,5.0,"If you are looking for a bootcamp in Tokyo, th...",le-wagon
1020,233147,Karin Fernandez,False,None,2015.0,True,None,Highly recommended,"<span class=""truncatable""><p>I had such a grea...",I had such a great experience at Ironhack. The...,...,2015-12-21,Part-time Web Development,{'image': None},5.0,[],5.0,NaN,NaN,I had such a great experience at Ironhack. The...,ironhack
1128,246957,Inês Salgueiro,False,Software Engineering,2018.0,True,None,Love Le Wagon,"<span class=""truncatable""><p>In Le Wagon I’ve ...",In Le Wagon I’ve found myself in an exciting c...,...,2019-02-20,FullStack program - 35+ locations,{'image': None},5.0,[],5.0,5.0,5.0,In Le Wagon I’ve found myself in an exciting c...,le-wagon
816,245292,Anonymous,True,Data Science,2018.0,True,None,Springboard Data Science Career Track,"<span class=""truncatable""><p>This course reall...",This course really built my confidence in prep...,...,2018-08-16,Data Science Career Track,{'image': None},4.7,[],5.0,4.0,5.0,This course really built my confidence in prep...,springboard
802,245395,Carmen Preston,False,UX/UI Design,2018.0,True,None,Great UX Design Program,"<span class=""truncatable""><p>I can only say gr...",I can only say great things about Springboard ...,...,2018-10-26,UX Design,{'image': None},5.0,[],5.0,5.0,5.0,I can only say great things about Springboard ...,springboard
1364,244628,franklin de chanaud,False,Software Engineering,2018.0,True,Fullstack WebDev,Le Wagon - incredible experience!,"<span class=""truncatable""><p>When I graduated ...","When I graduated from an agronomy school, I wa...",...,2018-08-18,FullStack program - 35+ locations,{'image': None},5.0,[],5.0,5.0,5.0,"When I graduated from an agronomy school, I wa...",le-wagon
884,237055,Blake Bowland,False,None,2017.0,True,UX/Product Designer,Mentorship is the key,"<span class=""truncatable""><p>Springboard was a...",Springboard was a fantastic course with a mult...,...,2017-08-08,UX Design,{'image': None},4.7,[],5.0,5.0,4.0,Springboard was a fantastic course with a mult...,springboard
222,263100,Anonymous,True,Software Engineering,2020.0,False,None,Positive,<p>I would recommend this course to anyone who...,I would recommend this course to anyone who is...,...,2020-03-30,Software Engineer Track: In-Person,{'image': None},4.0,[],4.0,4.0,4.0,I would recommend this course to anyone who is...,app-academy
400,252937,Anonymous,True,Software Engineering,2019.0,True,Software Engineer,My App Academy Experience,"<span class=""truncatable""><p>If I had to, I wo...","If I had to, I would join App Academy again. I...",...,2019-07-29,Software Engineer Track: In-Person,{'image': None},4.0,[],4.0,4.0,4.0,"If I had to, I would join App Academy again. I...",app-academy
691,236567,Alexys Vanderford,False,Software Engineering,2018.0,True,Web Dev,Web Dev Full-Time,"<span class=""truncatable""><p>I attended the Ir...",I attended the IronHack Web Development full t...,...,2018-04-05,Full-time Web Development Bootcamp,{'image': None},5.0,[],5.0,5.0,5.0,I attended the IronHack Web Development full t...,ironhack
1877,239278,Roel,False,None,2016.0,True,None,"“Le Wagon Amsterdam, Batch #38”","<span class=""truncatable""><p>*Background* <br>...",*Background* \r\nAs a graduate in Entrepreneur...,...,2017-01-10,FullStack program - 35+ locations,{'image': None},5.0,[],5.0,5.0,5.0,*Background* As a graduate in Entrepreneurship...,le-wagon
246,262719,Juan Carlos Vega Fosado,False,Software Engineering,2020.0,False,None,Un gran Reto y una gran experiencia,"<span class=""truncatable""><p>El asistir al Boo...","El asistir al Bootcamp de Ironhack, fue mucho ...",...,2020-03-12,Web Development Bootcamp,{'image': None},5.0,[],5.0,5.0,5.0,"El asistir al Bootcamp de Ironhack, fue mucho ...",ironhack
1151,246476,Roan Mertens,False,Software Engineering,2018.0,True,None,An amazing experience!,"<span class=""truncatable""><p>If you are readin...",If you are reading this review it means that y...,...,2019-01-19,FullStack program - 35+ locations,{'image': None},5.0,[],5.0,5.0,5.0,If you are reading this review it means that y...,le-wagon
1532,241668,Damien Boussardon,False,Software Engineering,2018.0,True,Full Stack Web Developer,Le wagon Bordeaux - Batch #127,"<span class=""truncatable""><p>Why Le Wagon?<br>...",Why Le Wagon?\r\n \r\n I've always bee...,...,2018-04-12,FullStack program - 35+ locations,{'image': None},5.0,[],5.0,5.0,5.0,Why Le Wagon? I've always been interested by ...,le-wagon
34,276059,Alexandra Vacca,False,None,2021.0,False,Sales and Marketing Manager,Rake it until you make it! Changing Careers an...,"<span class=""truncatable""><p></p><p>I joined L...",<p>I joined Le Wagon with a view to change my ...,...,2021-04-19,Web Development Course - Full-Time,{'image': None},4.7,[],5.0,5.0,4.0,I joined Le Wagon with a view to change my car...,le-wagon

In [5]:
from pandas.io.json import json_normalize

def get_school_info(school, school_id):
    url = 'https://www.switchup.org/chimera/v1/bootcamp-data?mainTemplate=bootcamp-data%2Fdescription&path=%2Fbootcamps%2F'+ str(school) + '&isDataTarget=false&bootcampId='+ str(school_id) + '&logoTag=logo&truncationLength=250&readMoreOmission=...&readMoreText=Read%20More&readLessText=Read%20Less'

    data = requests.get(url).json()

    data.keys()

    courses = data['content']['courses']
    courses_df = pd.DataFrame(courses, columns= ['courses'])

    locations = data['content']['locations']
    locations_df = json_normalize(locations)

    badges_df = pd.DataFrame(data['content']['meritBadges'])
    
    website = data['content']['webaddr']
    description = data['content']['description']
    logoUrl = data['content']['logoUrl']
    school_df = pd.DataFrame([website,description,logoUrl]).T
    school_df.columns =  ['website','description','LogoUrl']

    locations_df['school'] = school
    courses_df['school'] = school
    badges_df['school'] = school
    school_df['school'] = school
    

    locations_df['school_id'] = school_id
    courses_df['school_id'] = school_id
    badges_df['school_id'] = school_id
    school_df['school_id'] = school_id

    return locations_df, courses_df, badges_df, school_df

locations_list = []
courses_list = []
badges_list = []
schools_list = []

for school, id in schools.items():
    print(school)
    a,b,c,d = get_school_info(school,id)
    
    locations_list.append(a)
    courses_list.append(b)
    badges_list.append(c)
    schools_list.append(d)

ironhack

<ipython-input-5-7111c633f1e2>:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  locations_df = json_normalize(locations)

la-capsule
app-academy
springboard
metis
practicum-by-yandex
le-wagon
academia-de-codigo
react-graphql-academy

In [6]:
locations_list

[      id               description  country.id   country.name country.abbrev  \
 0  15901           Berlin, Germany        57.0        Germany             DE
 1  16022       Mexico City, Mexico        29.0         Mexico             MX
 2  16086    Amsterdam, Netherlands        59.0    Netherlands             NL
 3  16088         Sao Paulo, Brazil        42.0         Brazil             BR
 4  16109             Paris, France        38.0         France             FR
 5  16375  Miami, FL, United States         1.0  United States             US
 6  16376             Madrid, Spain        12.0          Spain             ES
 7  16377          Barcelona, Spain        12.0          Spain             ES
 8  16709          Lisbon, Portugal        28.0       Portugal             PT
 9  17233                    Online         NaN            NaN            NaN

    city.id    city.name city.keyword  state.id state.name state.abbrev  \
 0  31156.0       Berlin       berlin       NaN        NaN          NaN
 1  31175.0  Mexico City  mexico-city       NaN        NaN          NaN
 2  31168.0    Amsterdam    amsterdam       NaN        NaN          NaN
 3  31121.0    Sao Paulo    sao-paulo       NaN        NaN          NaN
 4  31136.0        Paris        paris       NaN        NaN          NaN
 5     31.0        Miami        miami      11.0    Florida           FL
 6  31052.0       Madrid       madrid       NaN        NaN          NaN
 7  31170.0    Barcelona    barcelona       NaN        NaN          NaN
 8  31075.0       Lisbon       lisbon       NaN        NaN          NaN
 9      NaN          NaN          NaN       1.0     Online       Online

   state.keyword    school  school_id
 0           NaN  ironhack      10828
 1           NaN  ironhack      10828
 2           NaN  ironhack      10828
 3           NaN  ironhack      10828
 4           NaN  ironhack      10828
 5       florida  ironhack      10828
 6           NaN  ironhack      10828
 7           NaN  ironhack      10828
 8           NaN  ironhack      10828
 9        online  ironhack      10828  ,
       id        description  country.id country.name country.abbrev  city.id  \
 0  15863      Paris, France          38       France             FR    31136
 1  17050       Lyon, France          38       France             FR    31106
 2  17450  Marseille, France          38       France             FR    31129

    city.name city.keyword      school  school_id
 0      Paris        paris  la-capsule      10853
 1       Lyon         lyon  la-capsule      10853
 2  Marseille    marseille  la-capsule      10853  ,
       id                       description  country.id   country.name  \
 0  15704  San Francisco, CA, United States         1.0  United States
 1  15705  New York City, NY, United States         1.0  United States
 2  15862                            Online         NaN            NaN

   country.abbrev  state.id  state.name state.abbrev state.keyword  city.id  \
 0             US         6  California           CA    california     13.0
 1             US        34    New York           NY      new-york   1507.0
 2            NaN         1      Online       Online        online      NaN

        city.name   city.keyword       school  school_id
 0  San Francisco  san-francisco  app-academy      10525
 1            NYC  new-york-city  app-academy      10525
 2            NaN            NaN  app-academy      10525  ,
       id description  state.id state.name state.abbrev state.keyword  \
 0  16013      Online         1     Online       Online        online

         school  school_id
 0  springboard      11035  ,
       id           description  country.id   country.name country.abbrev  \
 0  15718     New York City, NY         1.0  United States             US
 1  16079     San Francisco, CA         1.0  United States             US
 2  16081                Online         NaN            NaN            NaN
 3  16263           Chicago, IL         1.0  United States             US
 4  16278           Seattle, WA         1.0  United States             US
 5  16803  Singapore, Singapore        56.0      Singapore             SG

    state.id  state.name state.abbrev state.keyword  city.id      city.name  \
 0      34.0    New York           NY      new-york   1507.0            NYC
 1       6.0  California           CA    california     13.0  San Francisco
 2       1.0      Online       Online        online      NaN            NaN
 3      15.0    Illinois           IL      illinois     39.0        Chicago
 4      49.0  Washington           WA    washington     97.0        Seattle
 5       NaN         NaN          NaN           NaN  31154.0      Singapore

     city.keyword school  school_id
 0  new-york-city  metis      10886
 1  san-francisco  metis      10886
 2            NaN  metis      10886
 3        chicago  metis      10886
 4        seattle  metis      10886
 5      singapore  metis      10886  ,
       id description  state.id state.name state.abbrev state.keyword  \
 0  17154      Online         1     Online       Online        online

                 school  school_id
 0  practicum-by-yandex      11225  ,
        id                  description  country.id          country.name  \
 0   15803         Melbourne, Australia          20             Australia
 1   15904          Casablanca, Morocco          44               Morocco
 2   15906      Buenos Aires, Argentina          60             Argentina
 3   15964            Brussels, Belgium          46               Belgium
 4   15979                 Milan, Italy          39                 Italy
 5   15996               Chengdu, China          15                 China
 6   16039          Mexico City, Mexico          29                Mexico
 7   16049       Amsterdam, Netherlands          59           Netherlands
 8   16106            Sao Paulo, Brazil          42                Brazil
 9   16124             Barcelona, Spain          12                 Spain
 10  16145             Bordeaux, France          38                France
 11  16146          Copenhagen, Denmark          47               Denmark
 12  16147                Lille, France          38                France
 13  16148             Lisbon, Portugal          28              Portugal
 14  16149              Bali, Indonesia          35             Indonesia
 15  16150               Nantes, France          38                France
 16  16274      Rio de Janeiro , Brazil          42                Brazil
 17  16275            Marseille, France          38                France
 18  16282             Montreal, Canada           2                Canada
 19  16283              Shanghai, China          15                 China
 20  16307       Belo Horizonte, Brazil          42                Brazil
 21  16407                 Tokyo, Japan          48                 Japan
 22  16408                 Lyon, France          38                France
 23  16478             Tel Aviv, Israel           5                Israel
 24  16570                 Kyoto, Japan          48                 Japan
 25  16765              Berlin, Germany          57               Germany
 26  16767                Paris, France          38                France
 27  16775              Shenzhen, China          15                 China
 28  16776        Lausanne, Switzerland          32           Switzerland
 29  16800                Madrid, Spain          12                 Spain
 30  16804                 Oslo, Norway          52                Norway
 31  16805               Rennes, France          38                France
 32  16936         Singapore, Singapore          56             Singapore
 33  16967              London, England          61               England
 34  16968                  Rome, Italy          39                 Italy
 35  17128            Stockholm, Sweden          37                Sweden
 36  17129                 Seoul, Korea          55           South Korea
 37  17157             Istanbul, Turkey         237                Turkey
 38  17188              Toronto, Canada           2                Canada
 39  17314  Dubai, United Arab Emirates          34  United Arab Emirates
 40  17395              Munich, Germany          57               Germany
 41  17476              Santiago, Chile          22                 Chile
 42  17732       Saint Pierre, Mauritus         171             Mauritius
 43  17765                 Nice, France          38                France
 44  17772             Cologne, Germany          57               Germany
 45  17835                   Lima, Peru         196                  Peru

    country.abbrev  city.id        city.name    city.keyword    school  \
 0              AU    31174        Melbourne       melbourne  le-wagon
 1              MA    31119       Casablanca      casablanca  le-wagon
 2              AR    31171     Buenos Aires    buenos-aires  le-wagon
 3              BE    31125         Brussels        brussels  le-wagon
 4              IT    31107            Milan           milan  le-wagon
 5              CN    31126          Chengdu         chengdu  le-wagon
 6              MX    31175      Mexico City     mexico-city  le-wagon
 7              NL    31168        Amsterdam       amsterdam  le-wagon
 8              BR    31121        Sao Paulo       sao-paulo  le-wagon
 9              ES    31170        Barcelona       barcelona  le-wagon
 10             FR    31124         Bordeaux        bordeaux  le-wagon
 11             DK    31127       Copenhagen      copenhagen  le-wagon
 12             FR    31128            Lille           lille  le-wagon
 13             PT    31075           Lisbon          lisbon  le-wagon
 14             ID    31169             Bali            bali  le-wagon
 15             FR    31130           Nantes          nantes  le-wagon
 16             BR    31131  Rio de Janeiro   rio-de-janeiro  le-wagon
 17             FR    31129        Marseille       marseille  le-wagon
 18             CA    31135         Montreal        montreal  le-wagon
 19             CN    31108         Shanghai        shanghai  le-wagon
 20             BR    31123   Belo Horizonte  belo-horizonte  le-wagon
 21             JP    31132            Tokyo           tokyo  le-wagon
 22             FR    31106             Lyon            lyon  le-wagon
 23             IL    31079         Tel Aviv        tel-aviv  le-wagon
 24             JP    31134            Kyoto           kyoto  le-wagon
 25             DE    31156           Berlin          berlin  le-wagon
 26             FR    31136            Paris           paris  le-wagon
 27             CN    31164         Shenzhen        shenzhen  le-wagon
 28             CH    31163         Lausanne        lausanne  le-wagon
 29             ES    31052           Madrid          madrid  le-wagon
 30             NO    31145             Oslo            oslo  le-wagon
 31             FR    31147           Rennes          rennes  le-wagon
 32             SG    31154        Singapore       singapore  le-wagon
 33             GB    31176           London          london  le-wagon
 34             IT    31180             Rome            rome  le-wagon
 35             SE    31109        Stockholm       stockholm  le-wagon
 36             KR    31151            Seoul            seol  le-wagon
 37             TR    31193         Istanbul        istanbul  le-wagon
 38             CA    31152          Toronto         toronto  le-wagon
 39             AE    31093            Dubai           dubai  le-wagon
 40             DE    31158           Munich          munich  le-wagon
 41             CL    31067         Santiago        santiago  le-wagon
 42             MU    31246     Saint Pierre    saint-pierre  le-wagon
 43             FR    31239             Nice            nice  le-wagon
 44             DE    31254          Cologne         cologne  le-wagon
 45             PE    31256             Lima            lima  le-wagon

     school_id
 0       10868
 1       10868
 2       10868
 3       10868
 4       10868
 5       10868
 6       10868
 7       10868
 8       10868
 9       10868
 10      10868
 11      10868
 12      10868
 13      10868
 14      10868
 15      10868
 16      10868
 17      10868
 18      10868
 19      10868
 20      10868
 21      10868
 22      10868
 23      10868
 24      10868
 25      10868
 26      10868
 27      10868
 28      10868
 29      10868
 30      10868
 31      10868
 32      10868
 33      10868
 34      10868
 35      10868
 36      10868
 37      10868
 38      10868
 39      10868
 40      10868
 41      10868
 42      10868
 43      10868
 44      10868
 45      10868  ,
       id                description  country.id country.name country.abbrev  \
 0  16627           Lisbon, Portugal          28     Portugal             PT
 1  16771            Porto, Portugal          28     Portugal             PT
 2  16798  Terceira Island, Portugal          28     Portugal             PT
 3  16801           Fundao, Portugal          28     Portugal             PT

    city.id        city.name     city.keyword              school  school_id
 0    31075           Lisbon           lisbon  academia-de-codigo      10494
 1    31102            Porto            porto  academia-de-codigo      10494
 2    31161  Terceira Island  terceira-island  academia-de-codigo      10494
 3    31140           Fundao           fundao  academia-de-codigo      10494  ,
       id             description  country.id    country.name country.abbrev  \
 0  15748         London, England        11.0  United Kingdom             GB
 1  16749        Lisbon, Portugal        28.0        Portugal             PT
 2  17023  Amsterdam, Netherlands        59.0     Netherlands             NL
 3  17242                  Online         NaN             NaN            NaN
 4  17251         Berlin, Germany        57.0         Germany             DE
 5  17252        Barcelona, Spain        12.0           Spain             ES

    city.id  city.name city.keyword  state.id state.name state.abbrev  \
 0  31176.0     London       london       NaN        NaN          NaN
 1  31075.0     Lisbon       lisbon       NaN        NaN          NaN
 2  31168.0  Amsterdam    amsterdam       NaN        NaN          NaN
 3      NaN        NaN          NaN       1.0     Online       Online
 4  31156.0     Berlin       berlin       NaN        NaN          NaN
 5  31170.0  Barcelona    barcelona       NaN        NaN          NaN

   state.keyword                 school  school_id
 0           NaN  react-graphql-academy      10972
 1           NaN  react-graphql-academy      10972
 2           NaN  react-graphql-academy      10972
 3        online  react-graphql-academy      10972
 4           NaN  react-graphql-academy      10972
 5           NaN  react-graphql-academy      10972  ]

In [7]:
locations = pd.concat(locations_list)

In [8]:
courses = pd.concat(courses_list)
courses.head(10)

                              courses       school  school_id
0             Cyber Security Bootcamp     ironhack      10828
1             Cybersecurity Part-Time     ironhack      10828
2             Data Analytics Bootcamp     ironhack      10828
3            Data Analytics Part-Time     ironhack      10828
4               UX/UI Design Bootcamp     ironhack      10828
5              UX/UI Design Part-Time     ironhack      10828
6            Web Development Bootcamp     ironhack      10828
7           Web Development Part-Time     ironhack      10828
0  Fullstack JavaScript Web Developer   la-capsule      10853
0                       Bootcamp Prep  app-academy      10525

In [24]:
badges_raw = pd.concat(badges_list)
badges_raw = badges_raw.drop_duplicates(subset=['name'])
badges_raw

,name,keyword,description,school,school_id
0,Available Online,available_online,<p>School offers fully online courses</p>,ironhack,10828
1,Verified Outcomes,verified_outcomes,<p>School publishes a third-party verified out...,ironhack,10828
2,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,ironhack,10828
2,Job Guarantee,job_guarantee,<p>School guarantees job placement</p>,app-academy,10525

In [10]:
# superstore.insert(0,'Profitable?',(superstore['Profit'].apply(profitable)))

def badges_m(row):
    if row == 'Available Online':
        return 1
    elif row == 'Verified Outcomes':
        return 2
    elif row == 'Flexible Classes':
        return 3
    elif row == 'Job Guarantee':
        return 4

In [11]:
badges_raw.insert(0,'badges_id',(badges_raw['name'].apply(badges_m)))

In [12]:
badges = badges_raw

In [13]:
badges

,badges_id,name,keyword,description,school,school_id
0,1,Available Online,available_online,<p>School offers fully online courses</p>,ironhack,10828
1,2,Verified Outcomes,verified_outcomes,<p>School publishes a third-party verified out...,ironhack,10828
2,3,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,ironhack,10828
2,4,Job Guarantee,job_guarantee,<p>School guarantees job placement</p>,app-academy,10525

In [14]:
badges.columns = ['badges_id','name','keyword','description','school','school_id']

In [15]:
badges

,badges_id,name,keyword,description,school,school_id
0,1,Available Online,available_online,<p>School offers fully online courses</p>,ironhack,10828
1,2,Verified Outcomes,verified_outcomes,<p>School publishes a third-party verified out...,ironhack,10828
2,3,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,ironhack,10828
2,4,Job Guarantee,job_guarantee,<p>School guarantees job placement</p>,app-academy,10525

In [16]:
clean_badges = badges[['badges_id','name']]

In [17]:
clean_badges = clean_badges.drop_duplicates(subset=['badges_id'])

In [18]:
display(clean_badges)

   badges_id               name
0          1   Available Online
1          2  Verified Outcomes
2          3   Flexible Classes
2          4      Job Guarantee

In [19]:
clean_schools = badges[['school_id','school']]
clean_schools.columns = ['schools_id','name']
clean_schools = clean_schools.drop_duplicates(subset=['schools_id'])

In [20]:
clean_schools

   schools_id         name
0       10828     ironhack
2       10525  app-academy

In [21]:
schools

{'ironhack': 10828,
 'la-capsule': 10853,
 'app-academy': 10525,
 'springboard': 11035,
 'metis': 10886,
 'practicum-by-yandex': 11225,
 'le-wagon': 10868,
 'academia-de-codigo': 10494,
 'react-graphql-academy': 10972}

In [22]:
clean_badges_schools = badges.drop_duplicates(subset=['name','badges_id'])
clean_badges_schools = clean_badges_schools[['badges_id','school_id']]
clean_badges_schools.insert(0,'school_badges_id',(range(1,5)))
clean_badges_schools

   school_badges_id  badges_id  school_id
0                 1          1      10828
1                 2          2      10828
2                 3          3      10828
2                 4          4      10525

In [23]:
clean_comments = comments.merge(schools, how='inner', on='school')
to_drop = ['graduatingYear','tagline','body','rawBody','user','comments','review_body','anonymous','createdAt','jobTitle','hostProgramName','queryDate']
clean_comments.drop(to_drop,inplace=True,axis=1,)
clean_comments.drop(['website','description','LogoUrl','school'], inplace=True,axis=1)
clean_comments = clean_comments.fillna(0)
clean_comments['overall'] = clean_comments['overall'].apply(lambda x : float(x))
clean_comments['overallScore'] = clean_comments['overallScore'].apply(lambda x : float(x))
clean_comments['curriculum'] = clean_comments['curriculum'].apply(lambda x : float(x))
clean_comments['jobSupport'] = clean_comments['jobSupport'].apply(lambda x : float(x))

clean_comments

TypeError: Can only merge Series or DataFrame objects, a <class 'dict'> was passed

In [ ]:
locations_clean = locations.copy()
to_drop = ['description','country.id','country.abbrev','city.id','city.keyword','state.id','state.name','state.abbrev','state.keyword']
locations_clean.drop(to_drop,inplace=True,axis=1,)
locations_clean.rename(columns = {'id':'location_id','country.name':'country','city.name':'city'}, inplace = True)

In [ ]:
clean_locations = locations_clean
clean_locations = clean_locations.fillna('Online')

In [ ]:
clean_locations

In [ ]:
display(clean_schools)
display(clean_badges)
display(clean_badges_schools)
display(clean_comments)
display(clean_locations)

In [196]:
#################CREATING A CONNECTION TO THE DATABASE#####################
import pymysql
import getpass
import mysql.connector
from sqlalchemy import create_engine

# Connect to the database

host="database-1.cesj3b2ko52z.us-east-2.rds.amazonaws.com"
port=3306
dbname="project"
user="root"
password="12345678"


#engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
#                       .format(user="root",
#                               pw="1234",
#                               db="project"))

engine = create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'
            .format(user, password,host, dbname)).connect()


# create cursor

In [197]:
clean_comments.to_sql('comments', con = engine,if_exists = 'replace')

In [200]:
clean_schools.to_sql('schools', con = engine,if_exists = 'replace')

In [201]:
clean_badges.to_sql('badges', con = engine,if_exists = 'replace')

In [202]:
clean_badges_schools.to_sql('school_badges_id', con = engine,if_exists = 'replace')

In [204]:
clean_locations.to_sql('locations', con = engine,if_exists = 'replace')

In [198]:
query = pd.read_sql_query("""SELECT * FROM comments;""", engine)

In [199]:
query

,index,id,name,isAlumni,program,overallScore,overall,curriculum,jobSupport,school_id
0,0,276568,Guilherme golabek brein,0,Web Development Part-Time,1.0,1.0,1.0,1.0,10828
1,1,276147,Charlotte Urvoy,0,UX/UI Design Bootcamp,5.0,5.0,5.0,5.0,10828
2,2,275972,Anonymous,0,UX/UI Design Bootcamp,4.0,5.0,4.0,3.0,10828
3,3,275872,Ahmad Khalaf,0,UX/UI Design Bootcamp,4.0,4.0,4.0,4.0,10828
4,4,275855,Morgane Favchtein,0,UX/UI Design Bootcamp,4.3,5.0,4.0,4.0,10828
...,...,...,...,...,...,...,...,...,...,...
3017,3017,234894,Stephanie S.,1,UX Design,5.0,5.0,5.0,5.0,11035
3018,3018,234877,Joe Fang,1,UX Design,5.0,5.0,5.0,5.0,11035
3019,3019,234838,Zeina,1,UX Design,3.7,4.0,4.0,3.0,11035
3020,3020,242681,Jean,1,UX Design,5.0,5.0,5.0,5.0,11035
3021,3021,234178,Ben,1,UX Design,4.7,5.0,5.0,4.0,11035